*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 30px 0;
}

h1 {
  font-size: 3.4rem;
  font-weight: 700;
  margin: 30px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card-image {
  position: relative;
  max-height: 230px;
}

.card-image .card-image--background {
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-image .card-image--icon {
  position: absolute;
  width: 150px;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  z-index: 10;
}

.card:hover .card-image--icon {
  -webkit-animation: float 2s linear infinite backwards;
  animation: float 2s linear infinite backwards;
}

@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
    -webkit-transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
    -webkit-transform: translatey(0px);
  }
}

.card-content {
  padding: 10px;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
